@charset 'utf-8';
* {
	box-sizing: inherit;
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 0;
	margin: 0;
	padding: 0;
	z-index: 0;
}
li {
	cursor: pointer;
	list-style: none;
}
img {
	cursor: pointer;
}
a {
	color: inherit;
	font-weight: 700;
	text-decoration: none;
}
a:hover {
	color: inherit;
	text-decoration: underline;
}
button {
	cursor: pointer;
}
#list_container {
	margin: 0 auto;
	margin-left: 215px;
	width: 83%;
}
.navigation {
	margin-bottom: 64px;
}
.goods_category {
	display: flex;
	font-size: 13px;
	height: 22px;
	padding: 12px 0 16px 0;
}
.goods_category_item {
	color: red;
	display: list-item;
	font-style: inherit;
	margin-right: 4px;
}
.cateView_title {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: -.0042em;
	line-height: 1.45;
}
.cateView_sect1 > div {
	margin-bottom: 30px;
}
.cateView_cateDesc {
	width: 923px;
}
.cateView_cateDesc > p {
	font-size: 14px;
}
.cateView_sect1_order {
	display: flex;
}
.cateItem {
	margin-right: 20px;
	width: 182px;
}
.cateItem img {
	height: 102px;
}
.cateItem a {
	color: red;
	font-size: 14px;
	font-weight: 400;
}
.cateView_sect4 {
	margin-top: 20px;
}
.cateView_sect4_main {
	border-bottom: 1px solid #dfdfdf;
	padding: 12px;
}
.cateView_sect4_productList {
	color: #000;
	display: flex;
	flex-flow: wrap;
	width: 100%;
}
.cateView_sect4_teaser_container {
	font-size: 14px;
	height: 580px;
	padding-top: 40px;
	position: relative;
	width: 370px;
}
.cateView_sect4_teaser_container div {
	font-weight: inherit;
}
.cateView_sect4_product_price {
	align-items: center;
	display: flex;
}
.cateView_sect4_product_price span {
	margin-right: 3px;
}
.cateView_sect4_teaser_img {
	position: relative;
}
.cateView_sect4_teaser_img img {
	height: 370px;
	position: absolute;
	width: 370px;
}
.cateView_sect4_teaser_img .cateView_sect4_banner2 {
	opacity: 0;
	transition: opacity .5s linear;
	transition-duration: .2s;
}
.cateView_sect4_teaser_img:hover .cateView_sect4_banner2 {
	opacity: 1;
}
.cateView_sect4_teaser_content {
	display: flex;
	flex-flow: column;
	height: 130px;
	justify-content: space-between;
	position: relative;
	top: 395px;
	width: 370px;
}
.cateView_sect4_teaser_content div {
	margin-bottom: 5px;
}
.cateView_sect4_product_addcart {
	display: flex;
	margin-top: 5px;
}
.cateView_sect4_product_addcart span {
	font-size: 18px;
	margin: auto;
	position: relative;
	right: 40px;
}