@charset 'utf-8';
* {
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
	box-sizing: inherit;
}
li {
    list-style: none;
    cursor: pointer;
}
img {
    cursor: pointer;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: inherit;
}
button {
    cursor: pointer;
}
#list_container {
    width: 83%;
    margin: 0 auto;
    margin-left: 215px;
}
.navigation {
    margin-bottom: 64px;
}
.goods_category {
    height: 22px;
    padding: 12px 0 16px 0;
    font-size: 13px;
    display: flex;
}
.goods_category_item {
    display: list-item;
    margin-right: 4px;
    font-style: inherit;
    color: red;
}
.cateView_title {
    font-size: 1.5rem;
    line-height: 1.45;
    letter-spacing: -0.0042em;
    font-weight: bold;
}
.cateView_sect1 > div {
	margin-bottom: 30px;
}
.cateView_cateDesc {
	width: 923px;
}
.cateView_cateDesc > p {
	font-size: 14px;
}
.cateView_sect1_order {
    display: flex;
}
.cateItem {
	width: 182px;
    margin-right: 20px;
}
.cateItem img {
	height: 102px;
}
.cateItem a {
	font-weight: normal;
	color: red;
	font-size: 14px;
}
.cateView_sect4 {
	margin-top: 20px
}
.cateView_sect4_main {
	padding: 12px;
	border-bottom: 1px solid #dfdfdf;
}
.cateView_sect4_productList {
	display: flex;
	flex-flow: wrap;
    width: 100%;
    color: #000;
}
.cateView_sect4_teaser_container {
    position: relative;
    width: 370px;
    height: 580px;
    padding-top: 40px;
    font-size: 14px;
}
.cateView_sect4_teaser_container div {
    font-weight: inherit;
}
.cateView_sect4_product_price {
    display: flex;
    align-items: center;
}
.cateView_sect4_product_price span {
    margin-right: 3px;
}
.cateView_sect4_teaser_img {
    position: relative;
}
.cateView_sect4_teaser_img img {
    position: absolute;
    width: 370px;
    height: 370px;
}
.cateView_sect4_teaser_img .cateView_sect4_banner2 {
    opacity: 0;
    transition: opacity 0.5s linear;
    transition-duration: 0.2s;
}
.cateView_sect4_teaser_img:hover .cateView_sect4_banner2 {
    opacity: 1;
}
.cateView_sect4_teaser_content {
    position: relative;
    top: 395px;
    width: 370px;
    height: 130px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.cateView_sect4_teaser_content div {
	margin-bottom: 5px;
}
.cateView_sect4_product_addcart {
	display: flex;
	margin-top: 5px;
}
.cateView_sect4_product_addcart span {
	margin: auto;
	font-size: 18px;
	position: relative;
	right: 40px;
}




