@charset 'utf-8';
* {
	font-family: 'Noto Sans JP', sans-serif;
	scroll-behavior: smooth;
}
a {
	color: inherit;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.login_logo {
	margin-left: -5px;
	margin-top: 40px;
}
.login_logo > a > img {
	height: 44px;
	width: 88px;
}
.login_main {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin-left: 60px;
	margin-top: -30px;
	padding: 32px 80px;
}
div.toggle_left > .login_white {
	color: #fff;
	font-size: 15px;
	width: 400px;
}
div.toggle_right {
	font-size: 18px;
	height: 700px;
	margin-top: 150px;
	width: 700px;
}
.toggle_right input {
	font-size: 20px;
}
.pw_reset {
	background-color: #0058a3;
	border: 0;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 70px;
	justify-content: center;
	margin-bottom: 40px;
	outline: 0;
	text-align: center;
	width: 550px;
}
.cookie_pol {
	color: #fff;
	text-decoration: underline;
}
.per_info {
	color: #fff;
	text-decoration: underline;
}
div.root {
	display: flex;
	position: block;
}
.left {
	background-color: #0058a3;
	display: flex;
	margin: 0;
	min-height: 100vh;
	padding: 0;
	position: relative;
	width: 40%;
}
.right {
	justify-content: space-between;
	margin-left: 90px;
	margin-top: 80px;
	width: 60%;
}
div.toggle_left {
	align-items: flex-start;
	flex-flow: column;
	justify-content: space-between;
}
div.toggle_left > h1 {
	color: #fff;
}
.toggle_left_img {
	display: flex;
}
.login_white2 {
	color: #fff;
	font-size: 12px;
}
.toggle_right_Id {
	margin-bottom: 40px;
}
.username {
	box-sizing: border-box;
	height: 48px;
	width: 448px;
}
.password {
	border-style: 1px solid #000;
	height: 60px;
	width: 510px;
}
.login_input_pw {
	border: 1px solid #000;
	box-sizing: border-box;
	height: 48px;
	width: 448px;
}
#modify_pw_toggle img {
	height: 20px;
	width: 24px;
}
.login_input_pw > input {
	all: unset;
	font-size: 20px;
	height: 48px;
	width: 410px;
}
.login_input_pw > img {
	height: 20px;
	width: 24px;
}
.phone_numberdiv {
	border: 1px solid #000;
	box-sizing: border-box;
	height: 48px;
	margin-bottom: 40px;
	width: 448px;
}
.toggle_right_pw {
	margin-bottom: 50px;
}
.forget_pw {
	color: red;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	text-decoration: underline;
}
.login_bt {
	background-color: #0058a3;
	border: 0;
	border-radius: 30px;
	color: red;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 58px;
	justify-content: center;
	margin-bottom: 40px;
	text-align: center;
	width: 448px;
}
.join_bt {
	background-color: #fff;
	border-radius: 30px;
	border-style: 1px solid #000;
	color: red;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 58px;
	justify-content: center;
	margin-bottom: 40px;
	text-align: center;
	width: 448px;
}
.none_member {
	margin-bottom: 40px;
}
.cookie_pol {
	color: #fff;
	text-decoration: underline;
}
.per_info {
	color: #fff;
	text-decoration: underline;
}
.backicon {
	margin-left: 34px;
	margin-top: 79px;
}
.backicon2 {
	margin-left: 34px;
	margin-top: 79px;
}
.backicon > img {
	width: 24px;
}
.backicon2 > img {
	margin-left: -40px;
	width: 24px;
}
.join_logo {
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 0;
}
.join_logo2 {
	height: 37px;
	width: 93px;
}
.join_left {
	display: flex;
	margin: 0;
	margin-left: 40px;
	min-height: 100vh;
	padding: 0;
	position: relative;
	width: 40%;
}
.family_img {
	display: flex;
	margin-left: 0;
	position: relative;
}
.signup_img1 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 256px;
	margin-bottom: .4rem;
	margin-right: .4rem;
	width: 190px;
}
.signup_img2 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 256px;
	margin-bottom: .4rem;
	width: 190px;
}
.signup_img3 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 192px;
	margin-bottom: .4rem;
	width: 190px;
}
.signup_img4 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 256px;
	margin-bottom: .4rem;
	width: 190px;
}
.signup_img5 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 192px;
	margin-bottom: .4rem;
	width: 190px;
}
.signup_img6 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 12rem;
	height: 192px;
	margin-bottom: .4rem;
	width: 190px;
}
.signup_img7 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 256px;
	margin-bottom: .4rem;
	width: 190px;
}
.signup_img8 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 192px;
	margin-bottom: .4rem;
	width: 190px;
}
.signup_img9 {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	height: 256px;
	margin-bottom: .4rem;
	width: 190px;
}
.back {
	margin-top: 50px;
	width: 40px;
}
.join_right {
	justify-content: space-between;
	margin-left: 90px;
	margin-top: 55px;
	width: 60%;
}
.join_right > p {
	font-weight: 700;
	margin-bottom: 30px;
}
.join_right input {
	font-size: 20px;
}
.join_right select {
	font-size: 20px;
}
.join_main {
	display: flex;
	flex-flow: column;
	height: 633px;
	justify-content: space-between;
	margin-left: 70px;
	margin-top: 0;
	margin-top: 50px;
	padding: 40px 0 0 0;
	width: 700px;
}
div.family_join1 {
	align-items: flex-start;
	display: flex;
	flex-flow: column;
	margin-left: 30px;
}
div.family_join1 > .join_blue {
	color: #0058a3;
	font-size: 30px;
	margin-top: 0;
}
.join_try {
	text-decoration: underline;
}
._img {
	display: flex;
}
div.family_join1 > .join_black {
	color: #fff;
	font-size: 17px;
	margin-bottom: 400px;
}
.join_black1 {
	color: #000;
}
.join_black2 {
	color: #000;
	display: flex;
	font-size: 15px;
}
.join_try {
	color: #484848;
	font-weight: 400;
}
.join_black3 {
	color: #000;
	font-size: 12px;
	margin-top: 20px;
}
.password {
	border: 1px solid #000;
	height: 60px;
	width: 510px;
}
.none_member {
	margin-bottom: 40px;
}
.join_member {
	align-items: center;
	background: #000;
	border-color: #000;
	border-radius: 30px;
	color: #fff;
	display: flex;
	font-weight: 700;
	height: 38px;
	justify-content: center;
	line-height: 25px;
	padding: 10px;
	width: 428px;
}
.cookie_pol_black {
	color: #000;
	text-decoration: underline;
}
.per_info_black {
	color: #000;
	text-decoration: underline;
}
.join_backicon {
	margin-left: 10px;
	margin-top: 33px;
	width: 30px;
}
input[type=radio] {
	cursor: pointer;
}
.phone_number2 {
	all: unset;
	height: 48px;
	width: 341px;
}
.input_birth_gender {
	display: flex;
	margin-bottom: 20px;
}
.input_birth_gender > div {
	margin-right: 50px;
}
.join_inputbox {
	box-sizing: border-box;
	height: 48px;
	margin-bottom: 40px;
	width: 448px;
}
.modify_selectBox {
	border: 0;
	margin-left: -3px;
	outline: 0;
}
#modi_addr1, #modi_nbs {
	font-size: 17px;
	width: 555px;
}
.join_inputbox_small {
	box-sizing: border-box;
	height: 48px;
	margin-bottom: 40px;
	width: 200px;
}
.join_inputbirth {
	box-sizing: border-box;
	height: 48px;
	width: 200px;
}
.join_inputbox2 {
	box-sizing: border-box;
	height: 48px;
	width: 448px;
}
.join_submit_button {
	background-color: #000;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 53px;
	justify-content: center;
	margin-bottom: 100px;
	margin-top: 40px;
	text-align: center;
	width: 452px;
}
.number_form {
	align-items: center;
	display: flex;
	height: 40px;
	position: relative;
	width: 550px;
}
.number_form span {
	left: 10px;
	position: absolute;
	top: -32%;
}
.number_form input[type=tel] {
	padding-left: 80px;
}
.account_manage {
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 1000px;
}
.account_big_title {
	margin-bottom: 0;
}
.account_small_title {
	margin-bottom: 50px;
	margin-top: 0;
}
.account_manage_logout {
	font-weight: 400;
	text-decoration: underline;
}
.account_manage_mypage {
	border: 1px solid #dfdfdf;
	border-radius: 4px;
	display: flex;
	height: 130px;
	margin-bottom: 50px;
	margin-top: 50px;
	padding: 30px;
	width: 340px;
}
.account_manage_mypage div {
	margin: auto;
}
.account_manage_mypage div:first-child {
	margin-right: 10px;
}
.account_title {
	margin-top: 40px;
}
.small {
	font-size: 12px;
}
.myfamily_go1 {
	height: 24px;
	width: 24px;
}
.modify_items {
	justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 50px;
}
.modify_item {
	display: flex;
	justify-content: space-between;
}
.space {
	height: 300px;
}
.pwResetSpace {
	height: 200px;
}
.displayNone {
	display: none;
}
.modify_tab {
	background: 0 0;
	border: 0;
	border-bottom: 2px solid #dfdfdf;
	color: red;
	cursor: pointer;
	display: inline-block;
	flex-shrink: 0;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 0 15px 15px 0;
	position: relative;
	text-align: left;
	width: 328px;
}
.modify_tab.selected {
	border-bottom-color: #0058a3;
}
.modifyDiv label {
	font-size: 13px;
}
.modifyDiv b {
	margin-bottom: 10px;
}
.modifyDiv hr {
	border: 1px solid #f5f5f5;
}
.displayNone > div {
	margin-bottom: 35px;
}
.genderRadio {
	margin: 5px 0 0 5px;
	width: 300px;
}
.genderRadio div {
	margin: 0;
}
.genderRadio div label {
	font-size: 16px;
	position: relative;
	top: -7px;
}
.genderRadio input[type=radio] {
	height: 25px;
	margin-top: 10px;
	width: 20%;
}
.interest {
	border: 1px solid #dfdfdf;
	border-radius: 8px;
	display: block;
	margin: 60px 0 120px 0;
	padding: 30px;
	width: 640px;
}
.interest a {
	text-decoration: underline;
}
.account_modify {
	color: red;
	cursor: pointer;
	text-decoration: underline;
}
.home_icon {
	height: 24px;
	width: 24px;
}
.new_email1 {
	margin-bottom: 40px;
	margin-top: 250px;
}
.new_email2 {
	border-radius: 10px;
	font-size: 30px;
	height: 60px;
	width: 550px;
}
.email_login {
	background-color: #0058a3;
	border: 0;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 70px;
	justify-content: center;
	margin-bottom: 40px;
	outline: 0;
	text-align: center;
	width: 550px;
}
.account_set_name {
	margin-bottom: 50px;
	margin-top: 200px;
}
.pw_reset_bt {
	background-color: #0058a3;
	border: 0;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 70px;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 50px;
	outline: 0;
	text-align: center;
	width: 550px;
}
.account_manage_back {
	background-color: #fff;
	border: .5;
	border-radius: 30px;
	color: #000;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 70px;
	justify-content: center;
	margin-bottom: 40px;
	text-align: center;
	width: 550px;
}
.account_insert {
	border: 0;
	border-bottom: 1px solid #929292;
	box-sizing: border-box;
	display: block;
	font-size: 17px;
	line-height: 1.5;
	outline: 0;
	width: 555px;
}
.pw_insert {
	border: 0;
	border-bottom: 1px solid #929292;
	box-sizing: border-box;
	font-size: 17px;
	line-height: 1.5;
	outline: 0;
	width: 555px;
}
#modify_pw_toggle img {
	left: -30px;
	position: relative;
}
.modify_cancel {
	background-color: #f5f5f5;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 56px;
	justify-content: center;
	margin-bottom: 15px;
	text-align: center;
	width: 555px;
}
.modify_cancel:hover {
	background-color: #dfdfdf;
	transition-duration: 250ms;
}
.modify_cancel > span {
	color: red;
}
.modify_submit {
	background-color: #000;
	border: 0;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	height: 56px;
	justify-content: center;
	text-align: center;
	width: 555px;
}
.modify_submit:hover {
	background-color: #4b4b4b;
	transition-duration: 250ms;
}
.modify_submit > span {
	color: red;
}
.eyeImg {
	height: 20px;
	left: -35px;
	position: relative;
	width: 24px;
}
.post2 {
	border: 0;
	border-bottom: 1px solid #929292;
	border-radius: 0;
	box-sizing: border-box;
	display: block;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
	outline: 0;
	padding: 1.5rem 0 .0625rem 0;
	transition: box-shadow .2s;
	width: 100%;
}
.checkMsg {
	font-size: 15px;
	margin-bottom: 30px;
}