@charset 'utf-8';
* {
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
	box-sizing: inherit;
}
li {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: inherit;
}
button {
    cursor: pointer;
}
#detail_container {
    width: 83%;
    margin: 0 auto;
    margin-left: 215px;
    top: 163px
}
.navigation {
    margin-bottom: 64px;
}
.detail_category {
    height: 22px;
    padding: 12px 0 16px 0;
    font-size: 13px;
    display: flex;
}
.detail_category_item {
    display: list-item;
    margin-right: 4px;
    font-style: inherit;
}
.detail_category_item a {
	color: red;
}
.displayFlex {
    display: flex;
}
.view_container {
    width: 1058px;
}
.view_sect1_wrap {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 40px;
}
.view_sect1_wrap img {
    width: 519px;
    height: 529px;
    margin-right: 5px;
    margin-bottom: 10px;
    object-fit: cover;
}
.view_sect2_intro {
    font-size: 20px;
    height: 137px;
    margin-bottom: 48px;
}
.view_sect2_infomation {
    padding: 40px 0;
    border-bottom: 1px solid #dfdfdf;
}
pre {
	overflow: auto;
	white-space: pre-wrap;
}  
details > summary::marker {
	font-size:0;
}
details > summary {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
.red {
	color: red;
}
.view_sect2_infomation span {
    font-weight: bold;
    font-size: 24px;
}
.viewPageNewProduct {
	margin-bottom: 50px;
}
.view_sect2_infomation img {
    width: 32px;
    height: 32px;
}
.view_module {
    padding: 0 40px;
    width: 439px;
}
.view_module_container {
    position: sticky;
    top: 0;
}
.view_module_top {
    display: flex;
    justify-content: space-between;
    width: 439px;
    height: 75px;
}
.view_module_section {
    box-sizing: border-box;
    width: 439px;
}
.view_module_section span {
	width: 439px;
    font-size: 15px;
}
.view_module_point {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    margin-bottom: 24px;
	border-bottom: 1px solid #dfdfdf;
}
.fa-solid {
    color: #ddd;
}
.star {
    color: rgb(255, 204, 0);
}
.fa-star-half-stroke {
    color: rgb(255, 204, 0);
}
.view_module_caption {
    padding-bottom: 24px;
    color: #484848;
    display: flex;
    align-items: center;
}
.view_module_caption span {
    font-size: 13px;
    color: #484848;
    height: 18px;
}
.view_module_buy h4 {
    margin-bottom: 10px;
}
.view_module_buyBorder {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 4px 16px;
    margin-bottom: 16px;
}
.view_module_delivery {
    display: flex;

    padding: 12px 0;
    height: 44px;
    width: 405px;
}
.view_module_buyIcon {
    margin-right: 10px;
}
.view_module_delivery:first-child {
    border-bottom: 1px solid #dfdfdf;
}
.view_module_buyMeans a {
    color: #484848;
    font-size: 14px;
    text-decoration: underline;
    font-weight: normal;
}
.view_module_buyMeans span:nth-child(3) {
    color: #484848;
    font-size: 14px;
}
.view_module_buyIcon {
    width: 24px;
    height: 24px;
}
.view_module_purchase {
    display: flex;
    justify-content: space-between;

}
.view_module_btnLeft {
    background-color: #0058a3;
    border-radius: 64px;
    border: none;
    padding: 0 32px;
    width: 303px;
    height: 56px;
    margin: 16px 0;
}
.view_module_btnLeft:hover {
    background-color: #1a5095;
}
.view_module_btnLeft span {
    font-weight: bold;
    font-size: 16px;
    color: red;
}
.view_module_btnRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 16px 0;
}
.view_module_btnRight img {
    width: 24px;
    height: 24px;
}
.view_module_title {
	font-size: 21px;
}
.showPrice {
	font-size: 30px;
	font-weight: bold;
}
.addCartMsg {
	font-size: 18px;
	margin-left: 10px;
}
.cartSpace {
	margin-bottom: 80px;
}
.cart_container {
	width: 925px;
}
.cart_container > div {
	margin-bottom: 22px;
}
.cart_container h1 {
	font-size: 30px;
}
.cartList {
	display: flex;
}
.cartList > div:first-child {
	margin-right: 30px;
}
.cartList > div:nth-child(2) {
	width: 100%;
}
.cartList img {
	width: 140px;
	height: 140px;
}
.cartList_firstRow {
	display: flex;
	justify-content: space-between;
}
.howToReceive {
	display: flex;
	justify-content: space-between;
}
.howToReceive > div {
	height: 88px;
	width: 453px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
}
.howToReceive > div:hover {
	border: 1px solid black;
	cursor: pointer;
}
.howToReceive img {
	position: relative;
	top: 5px;
	margin-left: 20px;
}
.howToReceive span {
	margin-left: 20px;
}
.howToReceive a {
	line-height: 88px;
	margin: auto;
	text-decoration: none;
}
.cart_module {
    padding-left: 133px;
    width: 520px;
}
.cart_sect1_wrap {
	margin-bottom: 40px;
}
.cart_sect1_wrap hr {
	border: 1px solid black;
}
.cart_sect1_wrap > div {
	display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.cart_sect1_wrap > hr {
    margin-bottom: 15px;
}
.cart_sect1_wrap span {
	font-size: 14px;
}
.cart_sect1_wrap_price {
	font-size: 22px;
}
.purchase_button {
	display: flex;
	justify-content: space-between;
	height: 120px;
	background-color: #1d59a5;
	margin-bottom: 40px;
	border-radius: 4px;
}
.purchase_button img {
	position: relative;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
}
.purchase_button span:first-child {
	margin: auto;
	margin-left: 30px;
	color: white;
}
.purchase_button > div {
	margin: auto;
	margin-right: 30px;
	background-color: white;
	border-radius: 100%;
	width: 35px;
	height: 35px;
}
.purchase_button:hover {
	cursor: pointer;
	background-color: #1a5095;
}
.purchase_info {
	margin-top: 25px;
}
.purchase_info img {
	position: relative;
	top: 4px;
	width: 21px;
	height: 21px;
}
.purchase_info a {
	text-decoration: underline;
	margin-left: 15px;
	font-size: 14px;
}
.purchase_info a:hover {
	cursor: pointer;
}
.purchase_info div {
	margin-bottom: 20px;
}
.cartList {
	padding: 40px 0;
	border-bottom: 1px solid #dfdfdf;
}





